In [1]:
import pandas as pd

In [35]:
tr_data = pd.read_table("../../data/movie_review/train/train_data", header=None)
tr_data.columns=['review']
tr_label = pd.read_table("../../data/movie_review/train/train_label", header=None)
tr_label.columns=['label']
tr_df = pd.concat([tr_data, tr_label], axis=1)

In [40]:
te_data = pd.read_table("../../data/movie_review/test/test_data", header=None)
te_data.columns=['review']
te_label = pd.read_table("../../data/movie_review/test/test_label", header=None)
te_label.columns=['label']
te_df = pd.concat([te_data, te_label], axis=1)

In [36]:
tr_df.head()

                         review  label
0        20년 후 다시 본다면 더 감동적이려나?    8.0
1       아련한 향수를 떠올리게 만드는 추억의 영화    8.0
2  mv00348418을 소재로 한 최고의 SF오락영화    8.0
3      SF 코미디 영화사에서 가장 주목해야할 영화    9.0
4          지금봐도 세련된 연출이 돋보이는 작품    8.0

In [41]:
te_df.head()

                           review  label
0         아련한 향수를 떠올리게 만드는 추억의 영화    8.0
1        SF 코미디 영화사에서 가장 주목해야할 영화    9.0
2  mv00036133의 꿈이 고스란히 담겨진 최고의 영화    8.0
3          전편을 120% 활용하는 천재적인 속편.    9.0
4         1편만큼 재미있다. 3편만 조금 떨어짐.     8.0

In [45]:
new_df = te_df[te_df['review'].isin(tr_df['review']) == False]

In [48]:
new_df['review'].to_csv("../../data/movie_review/test/test_data_n", index=None)

In [49]:
new_df['label'].to_csv("../../data/movie_review/test/test_label_n", index=None)